# Time Series

In [2]:
# DateTime Python

import datetime

date = datetime.date(year=2022, month=10, day=28)
time = datetime.time(hour=12, minute=25, second=49,microsecond=1)

dt = datetime.datetime(year=2022, month=10, day=28, hour=12, minute=25, second=49,microsecond=1)

print(f'date is {date}')
print(f'time is {time}')

print(f'datetime is {dt}')

date is 2022-10-28
time is 12:25:49.000001
datetime is 2022-10-28 12:25:49.000001

In [6]:
#time delta

td = datetime.timedelta(weeks=2, days=5, hours=10,

minutes=20, seconds=6.73,

milliseconds=99, microseconds=8)

print(f'time delta is {td}')

# Jumlahkan timedelta ke date & datetime
print('new date is', date + td)
print('new datetime is', dt + td)

time delta is 19 days, 10:20:06.829008
new date is 2022-11-16
new datetime is 2022-11-16 22:45:55.829009

In [8]:
# TimeStamp using pandas

import pandas as pd

pd.Timestamp(year=2012, month=12, day=21, hour=5,

minute=10, second=8, microsecond=99)


pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [11]:
microsoft = pd.read_csv('microsoft_stock.csv', index_col='Date', parse_dates=True)

microsoft

microsoft['2021']

C:\Users\Rosario Bagaskara\AppData\Local\Temp\ipykernel_17316\3939406793.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  microsoft['2021']

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-04  222.53  223.00  214.81  217.69  37130139            low
2021-01-05  217.26  218.52  215.70  217.90  23822953            low
2021-01-06  212.17  216.49  211.94  212.25  35930653            low
2021-01-07  214.04  219.34  213.71  218.29  27694480            low
2021-01-08  218.68  220.58  217.03  219.62  22956206            low
...            ...     ...     ...     ...       ...            ...
2021-03-25  235.30  236.94  231.57  232.34  34061853            low
2021-03-26  231.55  236.71  231.55  236.48  25479853            low
2021-03-29  236.59  236.80  231.88  235.24  25227455            low
2021-03-30  233.53  233.85  231.10  231.85  24792012            low
2021-03-31  232.91  239.10  232.39  235.77  43623471            low

[61 rows x 6 columns]

In [13]:
microsoft['2021'].first('1w')

C:\Users\Rosario Bagaskara\AppData\Local\Temp\ipykernel_17316\1228281922.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  microsoft['2021'].first('1w')

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-04  222.53  223.00  214.81  217.69  37130139            low
2021-01-05  217.26  218.52  215.70  217.90  23822953            low
2021-01-06  212.17  216.49  211.94  212.25  35930653            low
2021-01-07  214.04  219.34  213.71  218.29  27694480            low
2021-01-08  218.68  220.58  217.03  219.62  22956206            low

In [14]:
#TimeGrouping

microsoft['2021'].groupby(pd.Grouper(freq='1W')).agg({'Open':'first', 'High':'max', 'Low':'min', 'Close': 'last', 'Volume':'sum'})

C:\Users\Rosario Bagaskara\AppData\Local\Temp\ipykernel_17316\3366104647.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  microsoft['2021'].groupby(pd.Grouper(freq='1W')).agg({'Open':'first', 'High':'max', 'Low':'min', 'Close': 'last', 'Volume':'sum'})

              Open    High     Low   Close     Volume
Date
2021-01-10  222.53  223.00  211.94  219.62  147534431
2021-01-17  218.47  218.91  212.03  212.65  127476694
2021-01-24  213.75  230.07  212.63  225.95  129180335
2021-01-31  229.12  242.64  224.22  231.96  243806631
2021-02-07  235.06  245.09  232.43  242.20  129739486
2021-02-14  243.15  245.92  240.81  244.99  100275726
2021-02-21  245.03  246.13  240.18  240.97   90589762
2021-02-28  237.42  237.93  227.88  232.38  170376848
2021-03-07  235.90  237.47  224.26  231.60  168775377
2021-03-14  231.37  239.17  227.13  235.75  150656031
2021-03-21  234.96  240.06  229.35  230.35  164979946
2021-03-28  230.27  241.05  230.14  236.48  146927214
2021-04-04  236.59  239.10  231.10  235.77   93642938

In [15]:
stock_data_per_minute.resample('1D').agg({'open': 'first', 'high': 'max', 'low': 'min','close': 'last', 'volume': 'sum'})

NameError: name 'stock_data_per_minute' is not defined